@media (min-width: 600px) {
  .grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .div_right {
    border-right: 2px solid var(--farve5);
    padding-right: 20px;
  }
  .div_left {
    padding-left: 20px;
  }
  .ommig_grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ommig_right {
    grid-column: 1;
    grid-row: 1;
  }
}
.mobilgrid-1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}
