/***** RESET *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "palanquindark", sans-serif;
  color: var(--farve3);
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/***** FONT *****/

@font-face {
  font-family: "palanquindark";
  src: url("palanquindark-regular-webfont.woff2") format("woff2");
}

/***** CSS VARIABLER *****/

html {
  --farve1: #f6f7f4;
  --farve2: #a9ada1;
  --farve3: #3a4525;
  --farve4: #677254;
  --farve5: #ff8205;
}

/***** MENU *****/

header {
  position: sticky;
  top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--farve2);
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--farve3);
  font-family: "Rubik Mono One", sans-serif;
  padding: 0.5rem;
  font-size: 15px;
  margin-bottom: 0;
}

nav ul li a {
  color: var(--farve4);
  font-size: 15px;
}

header a:hover {
  color: var(--farve5);
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_branding {
  font-size: 2rem;
}

.nav_link {
  transition: 0.7s ease;
}

.nav_link:hover {
  color: var(--farve5);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--farve4);
  border-radius: 5px;
}

.hide {
  display: none;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_menu {
    position: fixed;
    left: 0%;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: var(--farve2);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav_item {
    padding: 2rem;
    font-size: 30px;
  }

  .nav_menu.active {
    top: 20%;
  }
}

/***** GENEREL STYLING *****/

h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30px;
  text-align: center;
  color: var(--farve3);
  margin-top: 2rem;
}
.forside_h1 {
  font-size: 45px;
}

h2 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--farve2);
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

h3 {
  color: var(--farve5);
}

h4 {
  text-transform: uppercase;
  margin-top: 3rem;
  color: var(--farve5);
  letter-spacing: 1px;
}
a {
  display: flex;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 15px;
  justify-content: center;
  text-decoration: none;
  color: var(--farve4);
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
a:hover {
  color: var(--farve5);
}
body {
  background-color: var(--farve1);
}
main {
  max-width: 2000px;
  margin-inline: 10px;
  min-height: 80vh;
}

.forside_main {
  margin-inline: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mobil_hide {
  display: none;
}

img {
  border: 1px solid var(--farve2);
  border-radius: 2px;
  margin-bottom: 3px;
}

figcaption {
  font-size: 8px;
  color: var(--farve4);
}

@media (min-width: 600px) {
  .grid-1_1 {
    margin-inline: 20px;
  }
  .forside_h1 {
    font-size: 60px;
  }
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 800px) {
  main {
    max-width: 2000px;
    margin-inline: 40px;
  }

  .grid-1_1 {
    margin-inline: 60px;
  }

  h1 {
    font-size: 45px;
  }
  header a {
    padding: 1rem;
    font-size: 25px;
  }
  .mobil_hide {
    display: block;
  }
  .forside_h1 {
    font-size: 80px;
  }
}

@media (min-width: 1000px) {
  main {
    max-width: 2000px;
    margin-inline: 80px;
  }
  figcaption {
    font-size: 10px;
  }

  .grid-1_1 {
    margin-inline: 100px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  figcaption {
    font-size: 15px;
  }
}
